@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "League Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.open-nav,
.close-nav {
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}

header {
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    gap: 2rem;
    padding: 40px 40px 0;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    list-style: none;
    position: relative;
    padding-bottom: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background: #fff;
    width: 0%;
    transition: 0.3s ease-in-out;
}

header nav ul li:hover::before {
    width: 60%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.hero-image {
    grid-column: 1;
    grid-row: 1;
}

.hero-content {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem 8rem;
    background: #fff;
    position: relative;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero-content p {
    font-weight: 500;
    color: #a1a1a1ff;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-content a {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    letter-spacing: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.cards {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 40px;
}

.card:nth-child(1),
.card:nth-child(3) {
    padding: 0;
}

.card img {
    width: 100%;
    height: 100%;
}

.card h3 {
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card p {
    color: #a1a1a1ff;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 10px;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.buttons button {
    background: #000;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 24px 20px;
}

.buttons button:hover {
    background: #454545ff;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        z-index: 999;
    }

    .desk {
        display: block;
        margin: 0 auto;
    }

    nav {
        display: none;
    }

    header nav ul {
        margin: 0 auto;
    }

    header nav ul li {
        padding-bottom: 0;
    }

    nav.active {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 40px;
    }

    nav.active .close-nav {
        display: block;
    }

    header nav ul li a {
        color: #000;
    }

    .open-nav {
        display: block;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        height: auto;
    }

    .hero-image {
        grid-column: 1;
        grid-row: 1;
        min-height: 50vh;
        position: relative;
    }

    .hero-content {
        grid-column: 1;
        grid-row: 2;
        padding: 2rem;
    }

    .cards {
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 1fr;
    }

    .buttons {
        bottom: auto;
        top: -51px;
        right: 0 !important;
        left: auto;
    }
    .buttons button {
      padding: 12px;
      width: 44px;
    }
    .card {
      padding: 2rem;
    }
}
